body {
    overflow-y: hidden; /* Hides vertical scollbar */
    background-color: #FACADE;
}

#gameView {
    /* border: 1px solid red; */
    min-height: 100vh; /* ie, 100 viewport height units */
}